
#__help__ {
  position: fixed;                            
  z-index: 999999;         
  top: 0;
  width: 100%;
  font-family: "Monospace";
  font-size: 20px;
}

#__help__ .inner {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: table;
  margin: 40px auto;
  border-radius: 5px;
}

#__help__ .title {
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

#__help__ ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#__help__ ul li span {
  display: inline-block;
  text-align: right;
  color: yellow;
  width: 65px;
  padding-right: 7px;
}

#__help_notifiction__ {
  position: relative;
}

#__help_notifiction__ .inner {
  position: fixed;                            
  z-index: 999999;                            
  bottom: 0;
  left: 0;                              
  background: rgba(0, 0, 0, .85);             
  padding: 5px;                           
  font-family: Helvetica, Arial, sans-serif;  
  color: #bada55;                             
  font-size: 20px;
  border-radius: 0 5px 0 0;                       
}